
input[type="text"]
  {
      background: transparent;
      border: none;
      font-size:250px;
      font-family: "Arial";
      width:100%;
      text-align: center;
      color:black;
  }
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}
