{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block title %}mattso.ch{% endblock %}

{% block scripts %}
{{ super() }}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
<div class="outer">
  <div align="middle" class="middle">
    <h1>Me:</h1><br>
    <a href="or">Bio</a> <br>
    <a href="https://github.com/matthew-sochor">Github</a> <br>
    <a href="https://github.com/matthew-sochor/resume/blob/master/Matthew-Sochor-Resume-web.pdf">Resume</a><br><br>
    <h1>Projects:</h1> <br>
    <a href="https://github.com/matthew-sochor/transfer">Transfer: command line tool for easy image transfer learning</a> <br>
    <a href="http://gong.mattso.ch">Gong: its a gong on a timer on a website</a> <br><br>
    <h1>Files:</h1>
    <a href="transfer-models">Transfer models I've built</a>
  </div>
</div>

{{ super() }}
{% endblock %}
