{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block title %}mattso.ch{% endblock %}

{% block scripts %}
{{ super() }}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
<div class="outer">
  <div align="middle" class="middle">
    <h1>Transfer models</h1><br><br>
    Fully trained models ready to be imported to <a href="https://github.com/matthew-sochor/transfer">transfer</a><br><br>
    <a href="href="{{ url_for('static/models', filename='trail-cam-animal-v-empty_best_weights_kfold_0.tar.gz') }}"" download>Trail cam: animal vs empty</a> <br>
    <a href="href="{{ url_for('static/models', filename='trail-cam-animals-no-empty_best_weights_kfold_0.tar.gz') }}"" download>Trail cam: individual animal ids</a> <br>
    <a href="href="{{ url_for('static/models', filename='trail-cam-animals_best_weights_kfold_0.tar.gz') }}"" download>Trail cam: individual animal ids + empty</a> <br>
  </div>
</div>

{{ super() }}
{% endblock %}
